{namespace Confluence.Templates.LinkBrowser}

/**
 * The contents of the panel.
 */
{template .demoPanel}
    <div class="input-field">
        <label for="demo-panel-destination">{getText('link.browser.demo.link.label')}:</label>
        <input type="text" tabindex="0" class="text" id="demo-panel-destination" name="destination" size="60">
    </div>
    <div class="description">{getText('link.browser.demo.link.desc')}</div>
{/template}
